<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean name="credit" class="com.paymentapp.CreditPay"/>

<bean name="debit" class="com.paymentapp.DebitPay"/>

<bean name="cash" class="com.paymentapp.CashPay"/>

<bean name="upi" class="com.paymentapp.UpiPay"/>



<bean name="billcollect1" class="com.paymentapp.BillCollector">
	<constructor-arg name = "payment" ref="cash"></constructor-arg>
</bean>

</beans>